body {
	background-color: #D3D3D3;
	text-align: center;
}
img {
	width: 7%;
	height: 7%;
	margin-bottom: 0;
}
table {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
tr {
	list-style-type: none;
	display: flex;
}
td {
	margin: 3px;
	border: 1px solid black;
	flex: 1;
	overflow-wrap: break-word;
	width: 0;
	background-color: pink;
}
h3 {
	margin: 5%;
}
p {
	margin: 0;
	font-size: 1vw;
}
h3 {
	font-size: 1.2vw;
}
.blank1 {
	border: none;
	flex-basis: 83.35%;
	background-color: #D3D3D3;
}
.blank2 {
	border: none;
	flex-basis: 50.1%;
	background-color: #D3D3D3;
}
.blank3 {
	border: none;
	height: 70px;
	flex-basis: 100%;
	background-color: #D3D3D3;
}
.blank4 {
	border: none;
	flex-basis: 11%;
	background-color: #D3D3D3;
}
.blank5 {
	border: none;
	flex-basis: 0%;
	background-color: #D3D3D3;
}
.mass_atomic {
	text-align: right;
}
.numero {
	text-align: left;
}
.reactive-nonmetal {
	background-color: #FFFF00;
}
.halogene {
	background-color: #FFD000;
}
.alkali-metal {
	background-color: #FF0000;
}
.alkali-earth-metal {
	background-color: #FFA500;
}
.metalloid {
	background-color: #008000;
}
.post-transition-metal {
	background-color: #90EE90;
}
.noble-gas {
	background-color: #ADD8E6;
}
.lanthanide {
	background-color: #A52A2A;
}
.actinide {
	background-color: #800080;
}
.unknow-chemical-prop {
	background-color: #808080;
}
